/* fonts */
@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('../fonts/linux-biolinum/LinBiolinum_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* italic */
    src: url('../fonts/linux-biolinum/LinBiolinum_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('../fonts/linux-biolinum/LinBiolinum_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold italic */
    src: url('../fonts/linux-biolinum/LinBiolinum_RBO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
:root {
  --green: #51cc37;
  --red:   #cc334D;
  --blue:  #334DCC;
  --yellow: #ffed91;
  --darkblue:  #131D4D;
  --darkred:  #8b0000;;
  --lightblue:  #7585D5;
  --lightgray:  #f2f2f2;
  --darkgray:  #333;
}
body
{
  font-family: 'Linux Biolinum',sans-serif;
  font-size: 18pt;
}
.row
{
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}
.row:before, .row:after
{
  content: " ";
  display: table;
}
.row:after
{
  clear: both;
}
.publication, .course
{
  padding-bottom: 2em;
}
p
{
 display: block;
 margin-top: 0;
 margin-bottom: 1em;
}
.publication p, .course p
{
 display: block;
 margin-top: 0;
 margin-bottom: 0.2em;
}
.coursetitle
{
  font-style: italic;
}
.courses .coursetitle
{
  font-style: italic;
  font-weight: bold;
  color: var(--blue);
}
h3.coursetitle
{
  font-style: normal;
  font-weight: bold;
}
.coursecode
{
  font-style: italic;
}
li
{
 margin-top: 0;
 margin-bottom: 0.2em;
}
.column, .columns
{
  padding-left: 1em;
  padding-right: 1em;
  float:left;
}
.large-5
{
  min-width: calc(0.5*(100% - 150px - 6em));
}
.large-10
{
  width: calc(100% - 150px - 4em);
}
.thumbnail
{
  width: 150px;
}
.thumbnail img
{
  max-width: 100%;
}
.logo
{
  float: right;
  max-width: 250px;
}
.logo img
{
  max-width: 100%;
  border-radius: 8px;
}
.full-width
{
  float: right;
  max-width: 100%;
}
.full-width img
{
  max-width: 100%;
  border-radius: 8px;
}
a
{
  background-color: var(--lightgray);
  color: var(--darkred);
  text-decoration: none;
}
a:hover
{
  background-color: var(--yellow);
}
/*
a[href^="http"]:after
{
  content: " ⎘";
}
*/
a[href$=".pdf"]:after
{
  content: " [pdf]";
}
.hqp, .hqp2, .me
{
  font-weight: bold;
}
.hqp
{
  color: var(--blue);
}
.hqp2
{
  color: var(--lightblue);
}
h1
{
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.venue
{
  font-style: italic;
}
.venues .venue
{
  font-weight: bold;
  color: var(--blue);
}
small
{
  font-weight: normal;
}
.emlist
{
  font-weight: bold;
  color: var(--darkred);
}
li.evalquote
{
  position: relative;
  list-style-type: none;
  padding-bottom: 0.4em;
}
.evalquote:before, .evalquote:after
{
}
.evalquote:before
{
  content: "“";
}
.evalquote:after
{
  content: "”";
}
.evalmeanfas
{
  font-weight: bold;
  color: var(--blue);
}
.evalmeansgs
{
  font-weight: bold;
  color: var(--green);
}

img#eval-plot
{
  width: 100%;
  padding-bottom: 1em;
}
.footer
{
  font-size: 0.5em;
  text-align: center;
}
li.ongoing
{
  list-style-type: circle;
}
li.completed
{
  list-style-type: disc;
}
img.headliner
{
  max-width: 300px;
}
img.opener
{
  max-width: 250px;
}

table thead tr:first-child
{
  border-bottom: 4px solid #cc3b23;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
table tr th,td
{
  border: 0;
  margin: 0;
  padding: 0.25em;
  padding-right: 0.5em;
}
table tr th:first-child
{ 
  padding-bottom: 0.05em;
  text-align: center;
}
table tr td:first-child
{ 
  text-align: right;
  vertical-align: top;
}
table tr th:nth-child(2)
{ 
  text-align: left;
}

table tr:nth-child(even)
{
  background-color: #facfc8;
}
span.session
{
  color: default;
  font-weight: bold;
  text-align: center;
  display: block;
}
.poster
{
  max-width: 50%;
}
figure{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.multi-column
{
  column-width: 10em;
}
